<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Shadhini</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="header-social-links">
            <a href="https://www.linkedin.com/in/shadhini-jayatilake/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/shadhini" class="github" target="_blank"><i class="bi bi-github"></i></a>
            <a href="mailto:shadhini.jayatilake@gmail.com" class="email" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        </div>

    </div>
</header>