<!-- Vendor JS Files -->
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- PHP Email Form Validata -->
<!--<script src="assets/vendor/php-email-form/validate.js"></script>-->
<!-- AOS: Animate on Scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Waypoints: execute a function whenever you scroll to an element -->
<!--<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>-->
<!-- Purecounter: animated number counter -->
<script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
<!-- Swiper: Mobile Touch Slider -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- GLightbox: Touchable Pure JS lightbox with mobile and video support -->
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<!-- ImagesLoaded: Detect when images have been loaded -->
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<!-- Isotope: Filter & sort magical layouts -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
