---
layout: base
---

<body class="contact-page">

{% include header-and-navigation.html %}

<main class="main">

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact Me</h2>
            <p>I’m always open to exploring new opportunities, collaborations, and innovative tech ideas.</p>
            <br>
            <p>Whether you need expertise in <strong>Software Development</strong>, <strong>System Architecture</strong>,
                or <strong>Blockchain Solutions</strong>, </p>
            <p>or <strong>simply want to connect</strong>, feel free to reach out!</p>
        </div><!-- End Section Title -->


        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <a href="https://www.linkedin.com/in/shadhini-jayatilake/" target="_blank"><i
                                class="bi-linkedin flex-shrink-0"></i></a>
                        <div>
                            <h3>LinkedIn</h3>
                            <p><a href="https://www.linkedin.com/in/shadhini-jayatilake/" target="_blank">/in/shadhini-jayatilake</a>
                            </p>
                        </div>
                    </div><!-- End Info Item -->
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="600">
                        <a href="mailto:shadhini.jayatilake@gmail.com" target="_blank"><i
                                class="bi bi-envelope-fill flex-shrink-0"></i></a>
                        <div>
                            <h3>Email</h3>
                            <p><a href="mailto:shadhini.jayatilake@gmail.com" target="_blank">shadhini.jayatilake@gmail.com</a>
                            </p>
                        </div>
                    </div><!-- End Info Item -->
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="800">
                        <a href="https://github.com/shadhini" target="_blank"><i
                                class="bi  bi-github flex-shrink-0"></i></a>
                        <div>
                            <h3>Github</h3>
                            <p><a href="https://github.com/shadhini" target="_blank">/github.com/shadhini</a></p>
                        </div>
                    </div><!-- End Info Item -->
                </div>
            </div>
        </div>

        <div class="container section-title" data-aos="fade-up">
            <p><strong>📌 Best way to contact me:</strong>  The fastest way to reach me is via LinkedIn.</p>
            <p> Feel free to send me a message, and I’ll get back to you as soon as possible.</p>
        </div>


    </section><!-- /Contact Section -->
</main>

{% include footer.html %}

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

{% include scripts.html %}

</body>
