---
layout: base
---
<body class="index-page">

{% include header-and-navigation.html %}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <img src="assets/images/shadhini-hero-bg.png" alt="" data-aos="fade-in">

        <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="row"> <!-- justify-content-center -->
                <div class="col-lg-8">
                    <h2>Shadhini Jayatilake</h2>
                    <p>I'm a Software Engineer from Sri Lanka.</p>
                    <a href="about.html" class="btn-get-started">About Me</a>
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->

</main>

{% include footer.html %}

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

{% include scripts.html %}

</body>